<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>web</display-name>
  <servlet>
    <servlet-name>signOut</servlet-name>
    <servlet-class>servlet.signOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/signOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>servlet.signInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>servlet.memberModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>/memberModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>publishAuctionProduct</servlet-name>
    <servlet-class>servlet.publishAuctionProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishAuctionProduct</servlet-name>
    <url-pattern>/publishAuctionProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>publishBiddingProduct</servlet-name>
    <servlet-class>servlet.publishBiddingProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishBiddingProduct</servlet-name>
    <url-pattern>/publishBiddingProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>servlet.buyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/buyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addShoppingCart</servlet-name>
    <servlet-class>servlet.addShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addShoppingCart</servlet-name>
    <url-pattern>/addShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteShoppingCart</servlet-name>
    <servlet-class>servlet.deleteShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteShoppingCart</servlet-name>
    <url-pattern>/deleteShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPrice</servlet-name>
    <servlet-class>servlet.addPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPrice</servlet-name>
    <url-pattern>/addPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>underTheShelf</servlet-name>
    <servlet-class>servlet.underTheShelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>underTheShelf</servlet-name>
    <url-pattern>/underTheShelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>evaluation</servlet-name>
    <servlet-class>servlet.evaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>evaluation</servlet-name>
    <url-pattern>/evaluationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkOrder</servlet-name>
    <servlet-class>servlet.checkOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkOrder</servlet-name>
    <url-pattern>/checkOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelOrder</servlet-name>
    <servlet-class>servlet.cancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelOrder</servlet-name>
    <url-pattern>/cancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finishOrder</servlet-name>
    <servlet-class>servlet.finishOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finishOrder</servlet-name>
    <url-pattern>/finishOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>servlet.checkoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>result</servlet-name>
    <servlet-class>servlet.resultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>luckyDraw</servlet-name>
    <servlet-class>servlet.luckyDrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>luckyDraw</servlet-name>
    <url-pattern>/luckyDrawServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>useDiscount</servlet-name>
    <servlet-class>servlet.useDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useDiscount</servlet-name>
    <url-pattern>/useDiscountServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>